.line1 {
  background: linear-gradient(90deg, transparent, var(--orange));
}

.line2 {
  background: linear-gradient(180deg, transparent, var(--orange));
}

.line3 {
  background: linear-gradient(270deg, transparent, var(--orange));
}

.line4 {
  background: linear-gradient(360deg, transparent, var(--orange));
}

.anim-hover:enabled .line1 {
  background: linear-gradient(90deg, transparent, var(--green));
}

.anim-hover:enabled .line2 {
  background: linear-gradient(180deg, transparent, var(--green));
}

.anim-hover:enabled .line3 {
  background: linear-gradient(270deg, transparent, var(--green));
}

.anim-hover:enabled .line4 {
  background: linear-gradient(360deg, transparent, var(--green));
}

.shadow-hover:enabled:hover {
    box-shadow: 0 0 5px var(--green),
                0 0 25px var(--green),
                0 0 50px var(--green),
                0 0 70px var(--green),
                0 0 150px var(--green);
  }