@tailwind components;
@tailwind utilities;

@layer components {
  .tam-img {
    @apply w-[100%] h-52 md:h-96 
  }
  .no-border {
    @apply bg-inherit border-none
  }
  .title-category {
    @apply absolute top-3 left-14  text-xl text-white 
  }
  .title-recipe {
    @apply absolute top-24 flex left-0  items-end p-[28px] text-white  w-[100%]  md:justify-center text-sm md:text-5xl
  }
  .tam-title {
    @apply text-xl mb-4
  }
  .btn-design {
    @apply text-[#F9EFBB] bg-inherit border-none text-[40px] flex
  }
  .border-div {
    @apply border-solid border-2 rounded-lg
  }
  .caroussel-img {
    @apply w-full h-56 md:h-96 border-2 border-black border-r-0 border-l-0  
  }
  .recommend-title {
    @apply absolute text-white opacity-70 left-4 sm:left-[16.5%] lg:left-[19%] md:left-[19.5%]  md:text-2xl p-3  text-xl z-50
  }
  .button-back {
    @apply absolute top-2 left-2 btn-design text-[var(--darkYellow)]
  }
  .border-grey {
    @apply border-div border-gray-300 border-[0.1px] p-3
  }
  .btn-recipe {
    @apply w-[60%] h-8 rounded-md text-white text-sm border-none bg-[#6e7909]
  }
  .btn-container {
    @apply flex fixed z-50 items-center bottom-0 justify-center w-[100%]
  }
}

#root > main > section > div.border-grey.mt-10 > div > div > ul > li > label > div > span {
  background-color: inherit;
  border: none;
}

.btns:active {
  transition: transform 0.1s ease-in-out;
  transform: scale(0.95);
}

.btns:disabled {
  background-color: rgb(206, 202, 202);
  color: black;
}

.box-shadow {
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
}

