#root > main > section > div.border-grey.mt-10 > div > div > ul > li > label > div > span {
  background-color: inherit;
  border: none;
}

.btns:active {
  transition: transform 0.1s ease-in-out;
  transform: scale(0.95);
}

.btns:disabled {
  background-color: rgb(206, 202, 202);
  color: black;
}

.box-shadow {
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
}
