@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-greys {
    @apply bg-slate-600
  }
  .tam-img {
    @apply w-[100%] h-52
  }
  .title-category {
    @apply absolute top-4 left-14 text-xl text-white font-epilogue
  }
  .title {
    @apply absolute top-24 left-0
  }
  .tam-title {
    @apply text-2xl font-epilogue mb-4
  }
  .btn-design {
    @apply text-black bg-inherit border-none
  }
  .border-div {
    @apply border-solid border-2 rounded-lg
  }
}

.img-recipe {
  width: 100%;
}

.link-copied {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.message {
  background-color: darkgrey;
  border-radius: 10px;
  color: white;
  padding: 20px 30px;
}


