.btn-container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}


.btns:active {
  transition: transform 0.1s ease-in-out;
  transform: scale(0.95);
}
