@tailwind components;
@tailwind utilities;

:root {
  --green: #7D8C00;
  --orange: #CF5927;
  --yellow: #F9EFBB;
  --darkYellow: #F9EFBB;
  --red: #880627;
  --darkGray: #262321;
  --gray: #cccccc;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center
  }

  .reset-btn {
    @apply border-none bg-transparent outline-none cursor-pointer
  }
  .recipe-box {
    @apply w-full p-4 transform -translate-y-1/2 max-w-[1000px] sm:w-[90%]
  }

  .box-bottom {
    @apply rounded-b-lg pb-6 mb-12 sm:mb-16
  }

  .category {
    @apply border border-solid rounded-[100%] w-[50px] h-[50px] flex items-center justify-center;
  }

  .cards-container {
    @apply grid grid-cols-auto-fill gap-4 w-full justify-items-center justify-center sm:grid-cols-sm-auto-fill
  }
  .login-box {
    @apply w-[85%] p-4 transform -translate-y-1/2 rounded-lg shadow-[0_15px_25px_rgba(0,0,0,0.6)] max-w-[580px]
  }

  .bg-form {
    @apply bg-[rgba(0,0,0,.6)] border border-white border-opacity-10
  }

  .user-box {
    @apply relative
  }

  .input {
    @apply w-[100%] py-1 text-base text-white border-b border-b-white border-t-0 border-l-0 border-r-0 font-[epilogue] active:bg-transparent valid:bg-transparent
  }

  .input-select {
    @apply -top-5 text-xs
  }

  .label {
    @apply absolute top-0 left-0 pt-2 pb-2 text-base text-white pointer-events-none transition-all duration-500 font-[epilogue]
  }

  .reset-input {
    @apply bg-transparent outline-none
  }

  .viewpass-btn {
    @apply outline-none border-0 bg-transparent text-white font-bold text-base cursor-pointer
  }

  .btn-login {
    @apply relative border-none px-5 py-2 text-base text-[var(--green)] font-bold overflow-hidden transition-all duration-500 tracking-[4px] enabled:hover:bg-[var(--green)] hover:rounded-md cursor-pointer z-10
  }

  .anim1 {
    @apply top-0 -left-full w-full h-[2px] animate-btnAnim1
  }

  .anim2 {
    @apply -top-full right-0 w-[2px] h-full animate-btnAnim2
  }

  .anim3 {
    @apply bottom-0 -right-full w-full h-[2px] animate-btnAnim3
  }

  .anim4 {
    @apply -bottom-full left-0 w-[2px] h-full animate-btnAnim4
  }
  .recipe-name {
    @apply text-[14px] absolute bottom-2 left-2 no-underline text-white sm:text-[20px]
  }
  .menu-trans {
    @apply w-10 transition transform duration-500 ease-in-out
  }

  .title-box {
    @apply flex-col gap-y-2 py-6 mt-12 rounded-t-lg sm:mt-16
  }

  .title {
    @apply uppercase text-center font-[900] text-2xl text-[var(--orange)] tracking-[4px]
  }

  .header {
    @apply w-full flex justify-center px-3 bg-[var(--yellow)] py-1 fixed top-0 shadow-[0_4px_6px_rgba(0,0,0,0.4)] z-10
  }

  .footer {
    @apply fixed bottom-0 w-full flex justify-around items-center bg-[var(--yellow)] py-2 shadow-[0_-4px_6px_rgba(0,0,0,0.4)] z-10
  }

  .search-input {
    @apply border border-[var(--green)] rounded-l-md py-1 px-2 mb-1 w-max text-[var(--green)]
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Epilogue, sans-serif;
}

.glass {
  backdrop-filter: blur(8px) saturate(20%);
  -webkit-backdrop-filter: blur(8px) saturate(20%);
}

.bg {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 7%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(0,0,0,0.5) 93%, rgba(0,0,0,0.8) 100%), url('./images/bg-login.png');
  background-size: cover;
  background-position: bottom;
}
