@tailwind components;
@tailwind utilities;

:root {
  --green: #7D8C00;
  --orange: #CF5927;
  --yellow: #F9EFBB;
  --darkYellow: #E6C767;
  --red: #880627;
  --darkGreen: #4a5200;
  --darkGray: #262321;
  --gray: #cccccc;
}

@layer components {
  .no-search {
    @apply w-full flex justify-center items-center
  }

  .ready-recipe {
    @apply flex flex-wrap w-[100%] justify-center md:justify-center gap-3
  }

  .content-ready{
    @apply p-3 flex flex-col w-[100%]
  }

  .container-ready {
    @apply w-[350px] flex md:w-[350px] lg:w-[430px] 
  }

  .detail-img {
    @apply rounded-l-md max-w-[100px] sm:max-w-[150px] h-[100%] lg:w-[178px]
  }

  .title-done {
    @apply text-[var(--yellow)] text-2xl font-bold
  }

  .tam-img {
    @apply w-[100%] h-52 md:h-96 
  }
  .no-border {
    @apply bg-inherit border-none
  }
  .title-category {
    @apply text-xl text-white m-0
  }
  .title-recipe {
    @apply w-full h-full absolute top-0 flex left-0 items-center p-[28px] text-white justify-center md:text-5xl
  }
  .tam-title {
    @apply text-xl mb-4
  }
  .btn-design {
    @apply text-[#F9EFBB] bg-inherit border-none text-[40px] flex
  }
  .border-div {
    @apply border-solid border-2 rounded-lg
  }
  .caroussel-img {
    @apply w-full h-56 md:h-96 border-2 border-black border-r-0 border-l-0  
  }
  .recommend-title {
    @apply absolute text-white opacity-70 left-4 sm:left-[16.5%] lg:left-[19%] md:left-[19.5%]  md:text-2xl p-3  text-xl z-50
  }
  .button-back {
    @apply btn-design text-[var(--yellow)]
  }
  .border-grey {
    @apply border-div border-gray-300 border-[0.1px] p-3
  }
  .btn-recipe {
    @apply fixed bottom-0 w-[100%] max-w-[1000px] rounded-md text-white text-sm border-none bg-[#6e7909] py-3 font-bold uppercase tracking-widest
  }
  .btn-container {
    @apply  z-50 flex items-center justify-center w-[100%]
  }

  .iframe-youtube {
    @apply rounded-xl w-[100%] sm:w-[90%] h-60 sm:h-64 md:h-80 lg:h-96
  }

  .flex-center {
    @apply flex justify-center items-center
  }

  .reset-btn {
    @apply border-none bg-transparent outline-none cursor-pointer
  }
  .recipe-box {
    @apply w-full p-4 transform -translate-y-1/2 max-w-[1000px] sm:w-[90%]
  }

  .box-bottom {
    @apply rounded-b-lg pb-6 mb-12 sm:mb-16
  }

  .category {
    @apply border border-solid rounded-[100%] w-[50px] h-[50px] flex items-center justify-center;
  }

  .cards-container {
    @apply grid grid-cols-auto-fill gap-4 w-full justify-items-center justify-center sm:grid-cols-sm-auto-fill
  }
  .login-box {
    @apply w-[85%] p-4 transform -translate-y-1/2 rounded-lg shadow-[0_15px_25px_rgba(0,0,0,0.6)] max-w-[580px] sm:p-9
  }

  .bg-form {
    @apply bg-[rgba(0,0,0,.6)] border border-white border-opacity-10
  }

  .bg-notFounded {
    @apply bg-[rgba(255,255,255,.2)] border border-white border-opacity-10
  }

  .user-box {
    @apply relative w-full
  }

  .input {
    @apply w-full py-1 text-base text-white border-b border-b-white border-t-0 border-l-0 border-r-0 font-[epilogue] active:bg-transparent valid:bg-transparent
  }

  .input-select {
    @apply -top-5 text-xs
  }

  .label {
    @apply absolute top-0 left-0 py-2 text-base text-white pointer-events-none transition-all duration-500 font-[epilogue]
  }

  .reset-input {
    @apply bg-transparent outline-none
  }

  .viewpass-btn {
    @apply outline-none bg-transparent text-white font-bold text-base cursor-pointer border-solid border-b border-b-white border-t-0 border-l-0 border-r-0 py-2
  }

  .btn-login {
    @apply relative border-none px-5 py-2 text-base text-[var(--green)] font-bold overflow-hidden transition-all duration-500 tracking-[4px] enabled:hover:bg-[var(--green)] hover:rounded-md cursor-pointer z-10
  }

  .anim1 {
    @apply top-0 -left-full w-full h-[2px] animate-btnAnim1
  }

  .anim2 {
    @apply -top-full right-0 w-[2px] h-full animate-btnAnim2
  }

  .anim3 {
    @apply bottom-0 -right-full w-full h-[2px] animate-btnAnim3
  }

  .anim4 {
    @apply -bottom-full left-0 w-[2px] h-full animate-btnAnim4
  }
  .recipe-name {
    @apply text-[14px] absolute bottom-2 left-2 no-underline text-white sm:text-[20px]
  }
  .menu-trans {
    @apply w-10 transition transform duration-500 ease-in-out
  }

  .title-box {
    @apply flex-col gap-y-2 py-6 mt-20 rounded-t-lg sm:mt-16
  }

  .title {
    @apply uppercase text-center font-bold text-4xl text-[var(--orange)] tracking-[4px]
  }

  .header {
    @apply w-full min-h-[70px] flex flex-col items-center justify-center px-3 bg-[var(--yellow)] py-1 fixed top-0 shadow-[0_4px_6px_rgba(0,0,0,0.4)] z-20
  }

  .footer {
    @apply fixed bottom-0 w-full flex-center bg-[var(--yellow)] py-2 shadow-[0_-4px_6px_rgba(0,0,0,0.4)] z-10
  }

  .search-input {
    @apply border border-solid border-[var(--green)] rounded-l-md py-1 px-2 w-full text-[var(--green)]
  }

  .search-btn {
    @apply border border-solid border-[var(--green)] rounded-r-md py-1 px-2 bg-[var(--green)] text-white cursor-pointer
  }

  .options-menu {
    @apply absolute w-full top-14 right-auto bg-[var(--yellow)] rounded-b-lg flex items-center flex-col max-w-[1000px] z-20
  }

  .option-menu {
    @apply no-underline text-[var(--green)] text-[24px] flex items-center gap-x-2 hover:text-[var(--orange)]
  }

  .category-btn {
    @apply reset-btn flex items-center flex-col gap-[5px] w-[55px]
  }

  .card {
    @apply border-0
  }

  .error-register {
    @apply text-[var(--orange)] text-sm font-bold m-0
  }

  .password-remember {
    @apply text-[var(--darkYellow)] font-bold text-2xl tracking-widest text-center
  }

  .go-login {
    @apply no-underline font-normal text-[var(--green)] hover:text-[var(--yellow)]
  }

  .burguer-container {
    @apply flex gap-x-2 absolute z-30 top-3 right-3 bg-[var(--yellow)] rounded-[100%]
  }

  .icon-title {
    @apply w-14 h-14 border-2 border-solid rounded-[100%] text-[var(--green)]
  }

  .del-in-progress-btn {
    @apply text-[var(--orange)]
  }

  .comment-container {
    @apply flex flex-col py-2 px-5 w-full max-w-lg border-solid border-x-0 border-b-0 border-[rgba(255,255,255,0.2)]
  }

  .like-btn {
    @apply reset-btn flex gap-x-2 items-center disabled:cursor-auto
  }

  .table-score {
    @apply text-[var(--darkYellow)] border-l-[1px] font-bold text-2xl text-center w-10
  }

  .table-icon {
    @apply p-2 items-center rounded-none m-1
  }

  .icon-design {
    @apply text-yellow-500 text-center m-0
  }

  .title-recipe-in-progress {
    @apply no-underline m-0 font-bold text-[var(--yellow)] text-3xl
  }

  .tag {
    @apply py-1 px-3 rounded-[100px] bg-[var(--gray)] text-[var(--darkGray)] text-xs font-bold
  }

  .name-top-ranking {
    @apply text-white font-bold text-lg p-2 
  }

  .editUser-container {
    @apply w-full flex flex-col-reverse xs:flex-row gap-4 justify-center items-center
  }

  .form-new-recipe-container {
    @apply fixed bg-[rgba(0,0,0,.6)] top-0 right-0 w-screen h-screen flex justify-center
  }

  .form-new-recipe {
    @apply flex flex-wrap justify-center items-center recipe-box gap-5 bg-form glass p-6 mb-16 rounded-lg w-full max-w-xl mt-16 bg-[rgba(0,0,0,.8)]
    h-fit
  }

  .textarea {
    @apply resize-none block bg-transparent p-2.5 w-full text-sm text-white rounded-lg border border-solid border-gray-300 outline-none
  }

  .list-ingredients-container {
    @apply flex flex-col w-full sm:w-[55%] min-h-[318.3px] mt-3 h-fit
  }

  .file-btn {
    @apply py-3 px-2 bg-[var(--orange)] text-white rounded-lg uppercase text-center my-2 cursor-pointer w-full font-bold
  }

  .select-file {
    @apply bg-[var(--green)]
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Epilogue, sans-serif;
}

.glass {
  backdrop-filter: blur(8px) saturate(20%);
  -webkit-backdrop-filter: blur(8px) saturate(20%);
}

.bg {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 7%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(0,0,0,0.5) 93%, rgba(0,0,0,0.8) 100%), url('./images/bg-login.png');
  background-size: cover;
  background-position: bottom;
}

.shadow-name {
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
};

.transf {
  transform: scale(1.1);
}

.swal-confirm {
  color: white;
  background-color: var(--orange);
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 20px;
}

.swal-cancel {
  color: white;
  background-color: var(--darkYellow);
  padding: 7px 15px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
}

.swal-confirm:hover, .swal-cancel:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--yellow);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 8px;
    border: none;
  }

.button {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 15px;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.button:hover {
  color: var(--yellow);
}

.button:disabled {
  background-color: var(--orange);
  color: var(--yellow);
  cursor: not-allowed;
}

.button:focus {
  outline: 2px solid rgba(0,0,0,0.1);
  outline-offset: 2px;
}

.button:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}
